<% if @book.errors.any? %>
  <h2><%= pluralize(@book.errors.count,"error") %> prohibited this obj from being saved:</h2>
   <ul>
    <% @book.errors.full_messages.each do |message| %>
     <li><%= message %></li>
    <% end %>
   </ul>
  <% end %>
  
  
<%= render 'list', user: current_user,book: @book %>

  <h2>～～～～～↓全ユーザーの投稿一覧↓～～～～～</h2>
  
  <h1>Books</h1>
  <h4>Title</h4>
  <h4>Opinion</h4>
    <% @books.each do |book| %>
       <%= link_to user_path(book.user.id) do %>
         <%= image_tag book.user.get_profile_image(100,100) %>
       <% end %> 
       
       
        <%= link_to book_path(book.id) do %>
          <p>書籍名：<%= book.title %></p>
        <% end %>
     <p>感想：<%= book.body %></p>
     
    <% end %>
    