<% if flash[:notice] %>
  <p id=notice>
    <%= flash[:notice] %>
  </p>
<% end %>

<%= render 'list', user: @book.user, book: @new_book %> 


～～～～～ここから右側～～～～～

<div>
  <h1>Book detail</h1>
  <p>プロフィール画像</p>
  
  <%= @book.user.name %></br>
  <%= @book.title %></br>
  <%= @book.body %></br>
  
<% if @book.user==current_user %>  
  <%= link_to "Editリンク",edit_book_path %>
  <%= link_to "Destroy",book_path,method: :delete, data:{confirm:"本当に消しますか？本当に？後悔しません？"} %>
<% end %>  
</div>